<div *ngIf="savedMemes$ | async as currentMeme"
     class="slideshow"
     fxLayout="row"
     fxLayoutAlign="center stretch">
    <ng-container *ngTemplateOutlet="setElementRef(currentMeme); context: {meme: currentMeme}">
    </ng-container>
</div>

<ng-template #imageTemplate let-meme="meme">
    <img #image [alt]="meme.title" [src]="meme.content.url">
</ng-template>

<ng-template #videoTemplate let-meme="meme">
    <video #video [src]="meme.content.url"
           [autoplay]="true"
           [muted]="true"
           [loop]="true"
           (loadedmetadata)="setDuration($event)"
    ></video>
</ng-template>
